.bp3-toast {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative !important;
    margin: 20px 0 0;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(16, 22, 26, 0.2);
    background-color: #ffffff;
    min-width: 300px;
    max-width: 500px;
    pointer-events: all;
}

.bp3-toast.bp3-toast-enter,
.bp3-toast.bp3-toast-appear {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.bp3-toast.bp3-toast-enter-active,
.bp3-toast.bp3-toast-appear-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

.bp3-toast.bp3-toast-enter~.bp3-toast,
.bp3-toast.bp3-toast-appear~.bp3-toast {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.bp3-toast.bp3-toast-enter-active~.bp3-toast,
.bp3-toast.bp3-toast-appear-active~.bp3-toast {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

.bp3-toast.bp3-toast-exit {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.bp3-toast.bp3-toast-exit-active {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

.bp3-toast.bp3-toast-exit~.bp3-toast {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.bp3-toast.bp3-toast-exit-active~.bp3-toast {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}

.bp3-toast .bp3-button-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 5px;
    padding-left: 0;
    -webkit-tap-highlight-color: transparent;
}

.bp3-toast>.bp3-icon {
    margin: 12px;
    margin-right: 0;
    color: #5c7080;
}

.bp3-toast.bp3-dark,
.bp3-dark .bp3-toast {
    -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 2px 4px rgba(16, 22, 26, 0.4), 0 8px 24px rgba(16, 22, 26, 0.4);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 2px 4px rgba(16, 22, 26, 0.4), 0 8px 24px rgba(16, 22, 26, 0.4);
    background-color: #394b59;
}

.bp3-toast.bp3-dark>.bp3-icon,
.bp3-dark .bp3-toast>.bp3-icon {
    color: #a7b6c2;
}

.bp3-toast[class*="bp3-intent-"] a {
    color: rgba(255, 255, 255, 0.7);
}

.bp3-toast[class*="bp3-intent-"] a:hover {
    color: #ffffff;
}

.bp3-toast[class*="bp3-intent-"]>.bp3-icon {
    color: #ffffff;
}

.bp3-toast[class*="bp3-intent-"] .bp3-button,
.bp3-toast[class*="bp3-intent-"] .bp3-button::before,
.bp3-toast[class*="bp3-intent-"] .bp3-button .bp3-icon,
.bp3-toast[class*="bp3-intent-"] .bp3-button:active {
    color: rgba(255, 255, 255, 0.7) !important;
}

.bp3-toast[class*="bp3-intent-"] .bp3-button:focus {
    outline-color: rgba(255, 255, 255, 0.5);
}

.bp3-toast[class*="bp3-intent-"] .bp3-button:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #ffffff !important;
}

.bp3-toast[class*="bp3-intent-"] .bp3-button:active {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #ffffff !important;
}

.bp3-toast[class*="bp3-intent-"] .bp3-button::after {
    background: rgba(255, 255, 255, 0.3) !important;
}

.bp3-toast.bp3-intent-primary {
    background-color: #137cbd;
    color: #ffffff;
}

.bp3-toast.bp3-intent-success {
    background-color: #0f9960;
    color: #ffffff;
}

.bp3-toast.bp3-intent-warning {
    background-color: #d9822b;
    color: #ffffff;
}

.bp3-toast.bp3-intent-danger {
    background-color: #db3737;
    color: #ffffff;
}

.bp3-toast-message {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    top: 2px;
    padding: 11px;
    word-break: break-word;
}

.bp3-toast-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 40;
    overflow: hidden;
    padding: 0 20px 20px;
    padding-bottom: 30px;
    pointer-events: none;
}

.bp3-toast-container.bp3-toast-container-top {
    top: 0;
    bottom: auto;
}

.bp3-toast-container.bp3-toast-container-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    top: auto;
    bottom: 0;
}

.bp3-toast-container.bp3-toast-container-left {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.bp3-toast-container.bp3-toast-container-right {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.bp3-toast-container-bottom .bp3-toast.bp3-toast-enter:not(.bp3-toast-enter-active),
.bp3-toast-container-bottom .bp3-toast.bp3-toast-enter:not(.bp3-toast-enter-active)~.bp3-toast,
.bp3-toast-container-bottom .bp3-toast.bp3-toast-leave-active~.bp3-toast {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}

.bp3-toast[class*="bp3-intent-"] .bp3-button,
.bp3-toast[class*="bp3-intent-"] .bp3-button::before,
.bp3-toast[class*="bp3-intent-"] .bp3-button .bp3-icon,
.bp3-toast[class*="bp3-intent-"] .bp3-button:active {
    color: rgba(255, 255, 255, 0.7) !important;
}

.bp3-button {
    position: relative;
    top: 1px;
}

.bp3-button-group.bp3-minimal .bp3-button {
    box-shadow: none;
    background: none;
}

.bp3-button-group .bp3-button {
    flex: 0 0 auto;
    position: relative;
    z-index: 4;
}

.bp3-button:not([class*="bp3-intent-"]) {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    background-color: #f5f8fa;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    color: #182026;
}

.bp3-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
}

.bp3-toast[class*="bp3-intent-"] .bp3-button,
.bp3-toast[class*="bp3-intent-"] .bp3-button::before,
.bp3-toast[class*="bp3-intent-"] .bp3-button .bp3-icon,
.bp3-toast[class*="bp3-intent-"] .bp3-button:active {
    color: rgba(255, 255, 255, 0.7) !important;
}

.bp3-button .bp3-icon:first-child:last-child,
.bp3-button .bp3-spinner+.bp3-icon:last-child {
    margin: 0 -7px;
}

.bp3-button .bp3-icon,
.bp3-button .bp3-icon-standard,
.bp3-button .bp3-icon-large {
    color: #5c7080;
}

.bp3-button:empty::before,
.bp3-button> :last-child {
    margin-right: 0;
}

.bp3-icon {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: text-bottom;
    -webkit-tap-highlight-color: transparent;
}

.bp3-button::before,
.bp3-button>* {
    margin-right: 7px;
}

.bp3-button>* {
    flex-grow: 0;
    flex-shrink: 0;
}

.bp3-icon>svg:not([fill]) {
    fill: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 768px) {
    .bp3-toast-message {
        top: 3px;
    }

    .bp3-icon {
        top: 1px;
    }
}