@font-face {
    font-family: 'Montserrat';
    font-display: auto;
    src: local('Montserrat'), url('./fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}